.eventContainer{
    width:80%;
    z-index:10;
    margin: auto;
    display: grid;
    margin: auto;
    grid-template-columns: 47.5% 5% 47.5%;
    place-items: center;

    padding: 50px;
 
    /* border: 1px solid rgb(17, 31, 85); */
}

.eventBG{
    padding-block: 0.5rem;
    width:100%;
    margin-inline:auto;
    background: url('../../assets/Backgrounds/bg4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    text-align: center;
    margin-top: 2em;
}

@media (max-width: 1000px){
    .eventContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:25px;
        width: 88%;
    }

    .eventBG{
        padding: 0;

    }
}