.btn{
    background: none;
    font-size: 20px;
    margin-block: 20px;
    color: rgb(255, 255, 255);
    padding-inline: 20px;
    padding-block: 10px;

    background-color: rgb(4, 101, 161);
    border:none;
    cursor: pointer;
    border-radius: 2px;
}